@page "/subject/assignment-management/student"

@namespace Iwentys.WebClient.Content

<MudContainer>
    <MudGrid>
        <MudItem xs="12" sm="12" md="12">
            <div class="col-md-6 d-flex flex-column">
                <MudText Typo="Typo.h4">Subjects</MudText>
                <MudCard>
                    <MudNavMenu>
                        @if (_group is not null)
                        {
                            @foreach (SubjectProfileDto subject in _group.Subjects)
                            {
                                <MudNavLink Href=@LinkToMyAssignmentManagement(subject.Id)>
                                    <MudText Typo="Typo.body1">@subject.Name</MudText>
                                </MudNavLink>
                            }
                        }
                    </MudNavMenu>
                </MudCard>

            </div>
        </MudItem>
    </MudGrid>
</MudContainer>