@page "/subject/assignment-management/{SubjectId:int}/create"

@namespace Iwentys.Endpoints.WebClient.Modules.SubjectAssignments.MentorPages
@attribute [Authorize]

<MudText Typo="Typo.h3">Create subject assignment</MudText>

<div class="col-md-6 d-flex flex-column dark-elevation-01">
    <EditForm Model="_arguments">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <RenderFormElements></RenderFormElements>
        <MudButton class="dark-elevation-04" type="submit" OnClick="@(async () => await Create())">Submit</MudButton>
    </EditForm> 
</div>

@code {
    [Parameter]
    public int SubjectId { get; set; }
}
