@page "/subject/assignment-management/{SubjectAssignmentId:int}/update"

@attribute [Authorize]

<h3>SubjectAssignmentUpdatePage</h3>

<div class="col-md-6 d-flex flex-column dark-elevation-01">
    <EditForm Model="_arguments">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <RenderFormElements></RenderFormElements>
        <MudButton class="dark-elevation-04" type="submit" OnClick="@(async () => await Create())">Submit</MudButton>
    </EditForm> 
</div>

@code {
    [Parameter]
    public int SubjectAssignmentId { get; set; }
}