@page "/subject/assignment-management"

@using Iwentys.Endpoints.WebClient.Modules.SubjectAssignments.MentorPages.Components

@namespace Iwentys.Endpoints.WebClient.Modules.SubjectAssignments.MentorPages
@attribute [Authorize]

@inject ILogger<SubjectAssignmentManagementPage> _logger

<h3>Subject assignments</h3>

@if (_subjectAssignments is not null)
{
    <div class="container-fluid d-flex">
        <div class="d-flex flex-column">
            <div class="container-fluid d-flex flex-column">
                @foreach (SubjectAssignmentJournalItemDto subjectAssignment in _subjectAssignments)
                {
                    <SubjectAssignmentComponent SubjectAssignment="@subjectAssignment"></SubjectAssignmentComponent>
                }
            </div>
        </div>
    </div>
}