@using Iwentys.Sdk

@namespace Iwentys.Endpoints.WebClient.CustomComponents

<div class="container-fluid d-flex flex-column">
    <MatHeadline5>Анонсы</MatHeadline5>
    @foreach (NewsfeedViewModel newsfeed in Newsfeeds)
    {
        <div class="newsfeed-element">
            <MatCard Class="dark-elevation-01">
                <MatCardContent>
                    <div class="newsfeed-element-content">
                        <MatHeadline6>
                            @newsfeed.Title
                        </MatHeadline6>
                        <MudText Typo="Typo.body1">
                            @newsfeed.Content
                        </MudText>
                        <MudText Typo="Typo.body2">
                            @newsfeed.CreationTimeUtc
                        </MudText>
                    </div>
                </MatCardContent>
            </MatCard>
        </div>
    }
</div>

@code
{
    [Parameter]
    public ICollection<NewsfeedViewModel> Newsfeeds { get; set; }
}
