@using Iwentys.Sdk
@namespace Iwentys.Endpoints.WebClient.Pages.Guilds

<div Elevation="10" Rounded="true" class="text-center">
    <MudText Typo="Typo.h5">Рейтинг гильдии - @GuildLeaderboard.TotalRate</MudText>
    <MudList>
        @foreach (var member in GuildLeaderboard.MembersImpact)
        {
            <MudListItem>
                <MudText Typo="Typo.body2" Class="rate-list-item">
                    <div class="mat-body2">@member.StudentInfoDto.GithubUsername  (@member.TotalRate)</div>
                </MudText>
            </MudListItem>
        }
    </MudList>
</div>

@code {

    [Parameter]
    public GuildMemberLeaderBoardDto GuildLeaderboard { get; set; }

}