@page "/"

@namespace Iwentys.WebClient.Content

<h1>Hello, world!</h1>

Welcome to Iwentys.
<br />

Сейчас почти все что рисуется - это замоканные данные. Чтобы потыкать функционал, стоит авторизоваться под кредами админа 228617:228617.
