@page "/group/profile/{GroupName}"

@using Iwentys.Models.Transferable.Students
@using Blazored.LocalStorage
@using Iwentys.Endpoint.Sdk.ControllerClients.Study
@using Iwentys.Endpoint.Client.Tools
@using Iwentys.Models.Entities.Study
@using Iwentys.Models.Transferable.Study

@inject HttpClient Http
@inject ILocalStorageService LocalStorage

<h2>Group page: @GroupName</h2>

@if (_groupProfile is not null)
{
    <div class="container-fluid d-flex flex-row">
        <div class="col-md-6 d-flex flex-column">
            <MatH6>Students</MatH6>
            <MatNavMenu>
                @foreach (StudentPartialProfileDto student in _groupProfile.Students)
                {
                    string linkToProfile = $"student/profile/{student.Id}";
                    <MatNavItem Href=@linkToProfile>
                        @student.GetFullName()
                    </MatNavItem>
                }
            </MatNavMenu>
        </div>

        <div class="col-md-6 d-flex flex-column">
            <MatH6>Subjetcs</MatH6>
            <MatNavMenu>
                @foreach (SubjectEntity subject in _groupProfile.Subjects)
                {
                    <MatNavItem>
                        @subject.Name
                    </MatNavItem>
                }
            </MatNavMenu>
        </div>
    </div>
}

@code {
    [Parameter]
    public string GroupName { get; set; }

    private GroupProfileResponse _groupProfile;

    protected override async Task OnInitializedAsync()
    {
        var studentControllerClient = new StudyGroupControllerClient(await Http.TrySetHeader(LocalStorage));

        _groupProfile = await studentControllerClient.Get(GroupName);
    }
}
