@page "/leaderboard/study/"
@using Blazored.LocalStorage
@using Iwentys.Features.Gamification.Models

@inherits DependencyInjectionPage

<div class="text-center">
    <h3>Рейтинг студентов</h3>

    @if (_studentProfiles is not null)
    {
        <div class="container-fluid d-flex flex-column">
            @foreach (StudyLeaderboardRowDto studentProfile in _studentProfiles)
            {

                <a href=@LinkToProfile(studentProfile)>
                    <div class="d-flex flex-row dark-elevation-01 student-rating-row">
                        <div class="col-md-2">
                            <img src=@studentProfile.Student.AvatarUrl class="student-logo" />
                        </div>

                        <div class="col-md-8">
                            <h4>@studentProfile.Student.GetFullName()</h4>
                        </div>

                        <div class="col-md-2">
                            <p>@studentProfile.Activity.ToString("F2")</p>
                        </div>
                    </div>
                </a>
            }
        </div>
    }
</div>
