@page "/leaderboard/study/{CourseId:int}"

@using Iwentys.Models.Transferable.Study
@using Iwentys.Endpoint.Client.Tools
@using Blazored.LocalStorage
@using Iwentys.Endpoint.Sdk.ControllerClients.Study

@inject HttpClient Http
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManagerClient

<div class="text-center">
    <h3>Рейтинг студентов</h3>

    @if (_studentProfiles is not null)
    {
        <div class="container-fluid d-flex flex-column">
            @foreach (StudyLeaderboardRow studentProfile in _studentProfiles)
            {
                <MatCard @onclick=@(() => NavigateToProfile(studentProfile)) class="guild-rating-row d-flex flex-row">
                    <div class="col-md-2">
                        <img src=@studentProfile.Student.AvatarUrl class="student-logo"/>
                    </div>

                    <div class="col-md-8">
                        <h4>@studentProfile.Student.GetFullName()</h4>
                    </div>

                    <div class="col-md-2">
                        <p>@studentProfile.Activity.ToString("F2")</p>
                    </div>
                </MatCard>
            }
        </div>
    }
</div>


@code {
    [Parameter]
    public int CourseId { get; set; }

    private IReadOnlyList<StudyLeaderboardRow> _studentProfiles;

    protected override async Task OnInitializedAsync()
    {
        var studyLeaderboardControllerClient = new StudyLeaderboardControllerClient(await Http.TrySetHeader(LocalStorage));
        _studentProfiles = await studyLeaderboardControllerClient.GetStudyRating(CourseId);
    }

    private void NavigateToProfile(StudyLeaderboardRow row)
    {
        NavigationManagerClient.NavigateTo($"student/profile/{row.Student.Id}");
    }
}