@page "/subject/{SubjectId:int}/assignments"

@using Iwentys.Sdk
@inherits Iwentys.Endpoints.WebClient.Shared.DependencyInjectionPage

<h3>StudentSubjectAssignmentPage</h3>

<div>
    <h5>Assignments</h5>
    @if (_subjectAssignments is not null)
    {
        <div>
            @foreach (SubjectAssignmentJournalItemDto subjectAssignment in _subjectAssignments)
            {
                <div class="card-list-element">
                    <MudCard Class="dark-elevation-01">
                        <MudCardContent>
                            <div class="card-list-element-content">
                                <MatHeadline6>
                                    @subjectAssignment.Title
                                </MatHeadline6>
                            </div>
                        </MudCardContent>
                    </MudCard>
                </div>
            }
        </div>
    }

    <div class="d-flex flex-row align-self-center align-baseline">
        <h5>Submits</h5>
        <MudButton Link=@LinkToCreateSubmit()>
            <span class="oi oi-plus" title="add" aria-hidden="true"></span>
        </MudButton>
    </div>

    @if (_subjectAssignmentSubmits is not null)
    {
        foreach (SubjectAssignmentSubmitDto submit in _subjectAssignmentSubmits)
        {
            <div class="card-list-element">
                <MudCard Class="dark-elevation-01">
                    <MudCardContent>
                        <div class="card-list-element-content">
                            <MudText Typo="Typo.h6">
                                Submit for [@submit.SubjectAssignmentTitle]
                            </MudText>
                            @switch (submit.State)
                            {
                                case SubmitState.Created:
                                    break;
                                case SubmitState.Approved:
                                    <MudText Typo="Typo.body2">
                                        Approved (@submit.ApproveTimeUtc)
                                    </MudText>
                                    break;
                                case SubmitState.Rejected:
                                    <MudText Typo="Typo.body2">
                                        Rejected (@submit.RejectTimeUtc)
                                    </MudText>
                                    break;
                                default:
                                    throw new ArgumentOutOfRangeException(nameof(SubmitState), "Unsupported assignment state");
                            }
                        </div>
                    </MudCardContent>
                </MudCard>
            </div>
        }
    }

</div>

@code {
    [Parameter]
    public int SubjectId { get; set; }
}
