@page "/subject/{SubjectId:int}/assignments/create-submit"

@inherits Iwentys.Endpoints.WebClient.Shared.DependencyInjectionPage

<h3>SubjectAssignmentSubmitCreatePage</h3>

<div class="d-flex col-6 justify-content-between">
    <div class="d-flex input-form-component">
        <h3>Send quest response</h3>
        @if (_subjectAssignments is not null)
        {
            <p>
                <MudSelect  @bind-Value=@_selectedSubject Class="input-element" FullWidth="true">
                    @foreach (var item in _subjectAssignments)
                    {
                        <MudSelectItem Value="@item">@item.Title</MudSelectItem>
                    }
                </MudSelect>
            </p>
        }

        <p>
            <MudTextField @bind-Value="@_description" Label="Description" Class="input-element" FullWidth="true"></MudTextField>
        </p>

        <MudButton OnClick="@SendSubmit">Send response</MudButton>
    </div>
</div>

@code {
    [Parameter]
    public int SubjectId { get; set; }
}
