@page "/tournaments/create/code-marathon"

@using VxFormGenerator.Core
@using System.Dynamic
@using VxFormGenerator.Models;

@inherits DependencyInjectionPage

<h3>Create tournament</h3>
<div class="container-fluid d-flex flex-row">
    <div class="col-md-6 d-flex input-form-component dark-elevation-01">
        <EditForm Model="CurrentArguments">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <RenderFormElements></RenderFormElements>
            <MatButton class="dark-elevation-04" type="submit" OnClick="@(async () => await Create())">Submit</MatButton>
        </EditForm> 
    </div>
</div>

