@page "/tournaments"

@using Iwentys.Features.Guilds.Tournaments.Models
@inherits DependencyInjectionPage

<h3>Tournaments</h3>
<MatButton Link="/tournaments/create/code-marathon">Create code marathon</MatButton>
<div class="container-fluid d-flex">
    <div class="d-flex flex-column">
        @if (_tournaments is not null)
        {
            <div class="container-fluid d-flex flex-column">
                @foreach (TournamentInfoResponse tournament in _tournaments)
                {
                    <TournamentInfoComponent Tournament=@tournament></TournamentInfoComponent>
                }
            </div>
        }
    </div>
</div>
