@namespace Iwentys.WebClient.CustomComponents

<div class="text-center">
    <div class="container-fluid d-flex flex-row">
        @foreach (AchievementInfoDto achievement in Achievements)
        {
            <div class="d-flex flex-column achievement-item">
                <img class="achievement-item-icon" src="@achievement.ImageUrl" />
                <MudText Typo="Typo.body2">@achievement.Title</MudText>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public ICollection<AchievementInfoDto> Achievements { get; set; }
}