@inherits LayoutComponentBase

<MatThemeProvider>
    <div class="page main-background">
        <div class="sidebar sidebar-surface dark-elevation-24">
            <NavMenu />
        </div>

        <div class="main main-background">
            @*//TODO:*@
            @*<div class="top-row px-4 auth">
                    <LoginDisplay />
                </div>*@

            <div class="content px-4 main-background">
                @Body
            </div>
        </div>
    </div>
