<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="student/profile">
                <span class="oi oi-plus" aria-hidden="true"></span> My profile
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="guild/rate">
                <span class="oi oi-plus" aria-hidden="true"></span> Guilds
            </NavLink>
        </li>
        <li class="nav-item px-3">
            @*TODO: fix const value*@
            <NavLink class="nav-link" href="leaderboard/study/4">
                <span class="oi oi-plus" aria-hidden="true"></span> Student rating
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="assignment">
                <span class="oi oi-plus" aria-hidden="true"></span> Таск трекер
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="quest/active">
                <span class="oi oi-plus" aria-hidden="true"></span> Quests
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tournaments">
                <span class="oi oi-plus" aria-hidden="true"></span> Tournaments
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dev/fakeauth">
                <span class="oi oi-plus" aria-hidden="true"></span> Fake auth
            </NavLink>
        </li>
    </ul>
</div>