<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="student/profile">
                <span class="oi oi-person" aria-hidden="true"></span>Профиль
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="guild/rate">
                <span class="oi oi-people" aria-hidden="true"></span>Гильдии
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="leaderboard/study">
                <span class="oi oi-bar-chart" aria-hidden="true"></span>Рейтинг
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="assignment">
                <span class="oi oi-task" aria-hidden="true"></span>Таск трекер
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="quest/active">
                <span class="oi oi-script" aria-hidden="true"></span>Квесты
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tournaments">
                <span class="oi bi bi-trophy-fill" aria-hidden="true"></span>Турниры
            </NavLink>
        </li>
        @*TODO: implement*@
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="raids">
                <span class="oi oi-plus" aria-hidden="true"></span>Рейды
            </NavLink>
        </li>*@
        @*TODO: implement*@
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="peer-review">
                <span class="oi oi-pencil" aria-hidden="true"></span>Peer review
            </NavLink>
        </li>*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/">
                <span class="oi oi-bug" aria-hidden="true"></span> Fake auth
            </NavLink>
        </li>
    </ul>
</div>