@page "/student/profile/{StudentId:int?}"
@using Blazored.LocalStorage
@using Iwentys.Endpoint.Client.CustomComponents
@using Iwentys.Endpoint.Client.Pages.Students
@using ChartJs.Blazor.Charts


@inject HttpClient Http
@inject ILocalStorageService LocalStorage


@if (_studentFullProfile is not null)
{
    <div class="container-fluid d-flex flex-row">
        <div class="col-md-6 d-flex flex-column">
            <div class="profile-element dark-elevation-01">
                <StudentProfileInfoComponent StudentProfile=@_studentFullProfile></StudentProfileInfoComponent>
            </div>

            <div class="profile-element dark-elevation-01">
                <AchievementComponent Achievements=@_achievements></AchievementComponent>
            </div>
        </div>



        <div class="col-md-6 d-flex flex-column text-center">
            @if (_githubChartConfig is not null)
            {
                <div class="profile-element dark-elevation-01">
                    <MatHeadline5>Coding activity</MatHeadline5>
                    <ChartJsLineChart @ref="_githubChart" Config="_githubChartConfig"></ChartJsLineChart>
                </div>
            }

            @if (_studyChartConfig is not null)
            {
                <div class="profile-element dark-elevation-01">
                    <MatHeadline5>Study activity</MatHeadline5>
                    <ChartJsPieChart @ref="_studyChart" Config="@_studyChartConfig" Width="600" Height="300" />
                </div>
            }
        </div>
    </div>
}


@code {
    [Parameter]
    public int? StudentId { get; set; }
}
