@page "/student/profile/{StudentId:int?}"
@using Blazored.LocalStorage

@inject HttpClient Http
@inject ILocalStorageService LocalStorage


@if (_studentFullProfile is not null)
{
    <div class="container-fluid d-flex flex-row">
        <div class="col-md-6 d-flex flex-column">
            <StudentProfileInfoComponent StudentProfile=@_studentFullProfile></StudentProfileInfoComponent>
        </div>

        <div class="col-md-6 d-flex flex-column text-center">
            <AchievementComponent Achievements=@_achievements></AchievementComponent>

            @if (_githubChartConfig is not null)
            {
                <div>
                    <MatHeadline5>Coding activity</MatHeadline5>
                    <ChartJsLineChart @ref="_githubChart" Config="_githubChartConfig"></ChartJsLineChart>

                </div>
            }

            @if (_studyChartConfig is not null)
            {
                <div>
                    <MatHeadline5>Study activity</MatHeadline5>
                    <ChartJsPieChart @ref="_studyChart" Config="@_studyChartConfig" Width="600" Height="300" />
                </div>

            }
        </div>
    </div>
}


@code {
    [Parameter]
    public int? StudentId { get; set; }
}
