@using Blazored.LocalStorage
@using Iwentys.Features.Students.Models

@namespace Iwentys.Endpoint.Client.Pages.Students

@inject HttpClient Http
@inject ILocalStorageService LocalStorage

@if (StudentProfile is not null)
{
    <div class="container-fluid d-flex flex-row">
        <img class="student-profile-logo" src=@StudentProfile.AvatarUrl />
        <div class="container-fluid d-flex flex-column">
            <MatHeadline4>@StudentProfile.GithubUsername</MatHeadline4>
            <MatBody1>@StudentProfile.GetFullName()</MatBody1>
            
            @if (_group?.GroupName is not null)
            {
                <NavLink href=@LinkToGroupProfile>Группа: @_group.GroupName</NavLink>
            }

            @if (_guild is not null)
            {
                <NavLink href=@LinkToGuild()>Гильдия: @_guild.Title</NavLink>
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public StudentInfoDto StudentProfile { get; set; }

    public string LinkToGroupProfile => $"/group/profile/{_group.GroupName}";
}