@page "/student/profile/edit"

@using Blazored.LocalStorage

@inject HttpClient Http
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManagerClient

<div class="container-fluid d-flex flex-row">
    <div class="col-md-6 d-flex flex-column dark-elevation-01">
        <h5>Create assignment</h5>

        <p>
            <MatTextField @bind-Value="@_githubUsername" Label="Github" Class="input-element"></MatTextField>
        </p>
        
        <MatButton OnClick="@(async () => await OnSave())" class="dark-elevation-04">Create</MatButton>
    </div>
</div>

@code {
    [Parameter]
    public int? StudentId { get; set; }
}