@page "/dev/fakeauth"

@using Blazored.LocalStorage
@using Iwentys.Endpoint.Client.Tools

@inject HttpClient Http
@inject IAuthService AuthService
@inject ILocalStorageService LocalStorage

<div class="container-fluid d-flex flex-row">
    <div class="col-md-4 d-flex input-form-component dark-elevation-01">
        <MatBody1>Токены: @Token</MatBody1>
        <MatTextField @bind-Value="@UserId" Label="User id"></MatTextField>
        <MatButton @onclick="@Update">Update</MatButton>
    </div>
</div>

@code {

    public int UserId { get; set; } = 1;
    public string Token { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var savedToken = await LocalStorage.GetItemAsync<string>("authToken");
        Token = string.IsNullOrEmpty(savedToken) ? "No token" : savedToken;
    }

    private async Task Update()
    {
        await AuthService.Login(UserId);
    }
}