@page "/subject/assignment-management/{SubjectId:int}/create"

@using VxFormGenerator.Core

@inherits Iwentys.Endpoints.WebClient.Shared.DependencyInjectionPage

<h3>SubjectAssignmentCreatePage</h3>

<div class="col-md-6 d-flex flex-column dark-elevation-01">
    <EditForm Model="_arguments">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <RenderFormElements></RenderFormElements>
        <MatButton class="dark-elevation-04" type="submit" OnClick="@(async () => await Create())">Submit</MatButton>
    </EditForm> 
</div>

@code {
    [Parameter]
    public int SubjectId { get; set; }
}
