@page "/subject/assignment-management"

@using Iwentys.Sdk
@using Microsoft.Extensions.Logging

@inject NavigationManager _navigationManagerClient
@inject SubjectAssignmentClient _subjectAssignmentClient
@inject ILogger<SubjectAssignmentManagementPage> _logger

<h3>SubjectAssignmentManagementPage</h3>

@if (_subjectAssignments is not null)
{
    <div class="container-fluid d-flex">
        <div class="d-flex flex-column">
            <div class="container-fluid d-flex flex-column">
                @foreach (SubjectAssignmentJournalItemDto subjectAssignment in _subjectAssignments)
                {
                    <div class="card-list-element">
                        <div class="d-flex flex-row align-self-center align-baseline">
                            <h5>Subject assignment for @subjectAssignment.Title</h5>
                            <MatButton Link=@LinkToSubjectAssignmentCreate(subjectAssignment.Id)>
                                <span class="oi oi-plus" title="add" aria-hidden="true"></span>
                            </MatButton>
                            <MatButton Link=@LinkToSubjectAssignmentSubmitJournal(subjectAssignment.Id)>
                                Submits
                            </MatButton>
                        </div>
                        @foreach (SubjectAssignmentDto assignment in subjectAssignment.Assignments)
                        {
                            <div class="dark-elevation-04 flex-column">
                                <MatBody2>
                                    Assignment: @assignment?.Title
                                </MatBody2>
                                <MatButton Link=@LinkToSubjectAssignmentUpdate(subjectAssignment.Id)>
                                    Edit
                                </MatButton>
                                <MatButton Link=@LinkToSubjectAssignmentCreate(subjectAssignment.Id)>
                                    Delete
                                </MatButton>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
}