@page "/subject/assignment-management/{SubjectId:int}/update"

@using VxFormGenerator.Core
@using Iwentys.Sdk

@inject NavigationManager _navigationManagerClient
@inject SubjectAssignmentClient _subjectAssignmentClient


<h3>SubjectAssignmentUpdatePage</h3>

<div class="col-md-6 d-flex flex-column dark-elevation-01">
    <EditForm Model="_arguments">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <RenderFormElements></RenderFormElements>
        <MatButton class="dark-elevation-04" type="submit" OnClick="@(async () => await Create())">Submit</MatButton>
    </EditForm> 
</div>

@code {
    [Parameter]
    public int SubjectAssignmentId { get; set; }
}