@page "/subject/assignment-management/{SubjectId:int}/create"


@inherits Iwentys.Endpoints.WebClient.Shared.DependencyInjectionPage

<h3>SubjectAssignmentCreatePage</h3>

<div class="col-md-6 d-flex flex-column dark-elevation-01">
    <h5>Create assignment</h5>

    <p>
        <MatTextField @bind-Value="@_title" Label="Title" Class="input-element"></MatTextField>
    </p>

    <p>
        <MatTextField @bind-Value="@_description" Label="Description" Class="input-element"></MatTextField>
    </p>

    <MatButton OnClick="@(async () => await Create())" class="dark-elevation-04">Create</MatButton>
</div>

@code {
    [Parameter]
    public int SubjectId { get; set; }
}
