@page "/guild/overview"
@using Iwentys.Core.Services
@using Iwentys.Models.Transferable.Guilds
@inject GuildService GuildService


<h3>GuildOverview</h3>


@if (_guildProfiles != null)
{
    <ul>
        @foreach (GuildProfilePreviewDto guild in _guildProfiles)
        {
            var linToProfile = $"guild/{@guild.Id}";
            <li>
                
                <NavLink class="nav-link" href=@linToProfile>
                    @guild.Id @guild.Title (@guild.Rating)
                </NavLink>
            </li>
        }
    </ul>
}


@code {
    private IReadOnlyList<GuildProfilePreviewDto> _guildProfiles;

    protected override async Task OnInitializedAsync()
    {
        _guildProfiles = GuildService.GetOverview(0, 20);
    }

}