@page "/guild/{GuildId:int}"
@using Iwentys.Core.Services
@using Iwentys.Models.Transferable.Guilds
@using Iwentys.Endpoints.WebUi.CustomComponents.Guild

@inject GuildService GuildService

<h3>GuildProfile</h3>
<h3>@Guild.Title</h3>
<ul>
    <li>Leader: @Guild.Leader.GithubUsername</li>
    <li>Rate: @Guild.Rating</li>
</ul>

<GuildProfileMemberRateComponent GuildProfile=@Guild></GuildProfileMemberRateComponent>
<GuildProfileInfoComponent GuildProfile=@Guild></GuildProfileInfoComponent>
<GuildProfilePinnedRepositoriesComponent GuildProfile=@Guild></GuildProfilePinnedRepositoriesComponent>

@code {

    [Parameter]
    public int GuildId { get; set; }

    public GuildProfileDto Guild { get; set; }

    protected override async Task OnInitializedAsync()
    {
    //TODO: fix
        Guild = await GuildService.GetAsync(GuildId, 228617);
    }

}