@page "/guild/{GuildId:int}/edit"
@using Iwentys.Models.Transferable.Guilds
@using Iwentys.Endpoints.WebUi.CustomComponents
@using Iwentys.Endpoints.WebUi.CustomComponents.Guild
@using Microsoft.AspNetCore.Http
@using Iwentys.Features.Guilds.Services

@inject GuildService GuildService
@inject IHttpContextAccessor HttpContextAccessor

<h3>GuildEditPage</h3>

<GuildMemberListComponent GuildProfile="@Guild"></GuildMemberListComponent>

@code
{
    [Parameter]
    public int GuildId { get; set; }

    public GuildProfileDto Guild { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Guild = await GuildService.GetAsync(GuildId, HttpContextAccessor.GetUserId());
    }

}