@page "/quest/active"

@using Blazored.LocalStorage
@using Iwentys.Features.Quests.Models

@inject HttpClient Http
@inject ILocalStorageService LocalStorage

<div class="container-fluid d-flex flex-row">
    <div class="col-md-3 d-flex flex-column">
        <MatButton OnClick=@(async () => await SelectActive())>Active</MatButton>
        <MatButton OnClick=@(async () => await SelectCreated())>Created</MatButton>
        <MatButton OnClick=@(async () => await SelectArchived())>Archive</MatButton>
        <MatButton Link="/quest/create">Добавить квест</MatButton>
    </div>

    <div class="col-md-6 d-flex flex-column">
        <h3>Quest Journal Page</h3>
        @if (_selectedQuest is not null)
        {
            <div class="container-fluid d-flex flex-column">
                @foreach (QuestInfoDto quest in _selectedQuest)
                {
                    <div class="card-list-element">
                        <MatCard Class="dark-elevation-01">
                            <MatCardContent>
                                <div class="card-list-element-content">
                                    <MatHeadline6>
                                        @quest.Title (@quest.Price)
                                    </MatHeadline6>
                                    <MatBody1>
                                        @quest.Description
                                    </MatBody1>
                                    <MatBody2>
                                        @quest.CreationTime
                                    </MatBody2>
                                </div>
                            </MatCardContent>
                            <MatCardActions>
                                <MatButton Link=@LinkToQuestProfilePage(quest)>Profile</MatButton>
                                <MatButton Link=@LinkToQuestResponsePage(quest)>Response</MatButton>
                                @if (IsQuestCanBeRevoked(quest))
                                {
                                    <MatButton OnClick=@(async () => await RevokeQuest(quest))>Revoke</MatButton>
                                }

                            </MatCardActions>
                        </MatCard>
                    </div>
                }
            </div>
            @*<QuestListComponent Quests=@_selectedQuest></QuestListComponent>*@
        }
    </div>
</div>

@code {

}
