@using Iwentys.Models.Transferable.Guilds
@namespace Iwentys.Endpoints.WebUi.CustomComponents.Guild


<div class="container-fluid d-flex flex-column align-self-center">

    <img src=@GuildProfile.LogoUrl class="guild-preview-logo" />
    <h2>@GuildProfile.Title</h2>
    <p>Лидер: @GuildProfile.Leader.GithubUsername</p>
    <p>@GuildProfile.Bio</p>
    <MatButton>Редактировать</MatButton>
    <MatButton>Трибьюты</MatButton>
</div>

@code {
    [Parameter]
    public GuildProfileDto GuildProfile { get; set; }
}