@using Iwentys.Models.Transferable.Guilds
@using Iwentys.Models.Transferable.Students
@using Iwentys.Features.Guilds.Services
@using Microsoft.AspNetCore.Http

@inject GuildMemberService GuildMemberService
@inject IHttpContextAccessor HttpContextAccessor

<div class="text-center card">
    <MatHeadline5>Members</MatHeadline5>
    <MatList>
        @foreach (StudentPartialProfileDto member in GuildProfile.MemberLeaderBoard.Members)
        {
            <MatListItem>
                <p>
                    @member.GithubUsername (@member.GetFullName())
                </p>
                <MatButton OnClick="() => KicMember(member.Id)">
                    Kick
                </MatButton>
            </MatListItem>
        }
    </MatList>
</div>

@code {
    [Parameter]
    public GuildProfileDto GuildProfile { get; set; }

    private async Task KicMember(int memberId)
    {
        await GuildMemberService.KickGuildMemberAsync(HttpContextAccessor.GetAuthUser(), GuildProfile.Id, memberId);
    }
}
