@page "/subject/{SubjectId:int}/profile"

@inherits Iwentys.Endpoints.WebClient.Shared.DependencyInjectionPage

<h3>SubjectPage</h3>

@if (_subjectProfile is not null)
{
    <div class="container-fluid d-flex flex-row">
        <div class="col-md-6 d-flex flex-column">
            <MudText Typo="Typo.h4">Info</MudText Typo="Typo.h4">
            <MudText Typo="Typo.body1">@_subjectProfile.Name</MudText>
            <MudButton Link=@LinkToSubjectAssignmentManagement()>Mange subject assignments</MudButton>
            <MudButton Link=@LinkToMyAssignmentManagement()>My assignments</MudButton>
        </div>

        <div class="col-md-6 d-flex flex-column">
            <div>
                <MudText Typo="Typo.h6">Newsfeed</MudText>
                @if (_newsfeeds is not null)
                {
                    <NewsfeedComponent Newsfeeds=@_newsfeeds></NewsfeedComponent>
                    <MudButton Link=@LinkToCreateNewsfeedPage()>Create</MudButton>
                }
            </div>

        </div>
    </div>
}

@code {
    [Parameter]
    public int SubjectId { get; set; }
}