@page "/subject/{SubjectId:int}/management/assignments"

@using Iwentys.Sdk

@inherits DependencyInjectionPage

<h3>SubjectAssignmentManagementPage</h3>

<div>
    <div class="d-flex flex-row align-self-center align-baseline">
        <h5>Subject assignment</h5>
        <MatButton Link=@LinkToSubjectAssignmentCreate()>
            <span class="oi oi-plus" title="add" aria-hidden="true"></span>
        </MatButton>
    </div>

    <MatButton Link=@LinkToSubjectAssignmentSubmitJournal()>Submits</MatButton>
    @if (_subjectAssignments is not null)
    {
        <div>
            @foreach (SubjectAssignmentDto subjectAssignment in _subjectAssignments)
            {
                <div class="card-list-element">
                    <MatCard Class="dark-elevation-01">
                        <MatCardContent>
                            <div class="card-list-element-content">
                                <MatHeadline6>
                                    @subjectAssignment.Title
                                </MatHeadline6>
                            </div>
                        </MatCardContent>
                    </MatCard>
                </div>

            }
        </div>
    }
</div>

@code {
    [Parameter]
    public int SubjectId { get; set; }
}