@page "/subject/{SubjectId:int}/assignments/create-submit"

@inherits DependencyInjectionPage

<h3>SubjectAssignmentSubmitCreatePage</h3>

<div class="d-flex col-6 justify-content-between">
    <div class="d-flex input-form-component">
        <h3>Send quest response</h3>
        @if (_subjectAssignments is not null)
        {
            <p>
                <MatSelectItem @bind-Value=@_selectedSubject Items="@_subjectAssignments" Class="input-element" FullWidth="true">
                    <ItemTemplate>
                        <span>@context.Title</span>
                    </ItemTemplate>
                </MatSelectItem>
            </p>
        }

        <p>
            <MatTextField @bind-Value="@_description" Label="Description" Class="input-element" FullWidth="true"></MatTextField>
        </p>

        <MatButton OnClick="@SendSubmit">Send response</MatButton>
    </div>
</div>

@code {
    [Parameter]
    public int SubjectId { get; set; }
}
