@page "/tournaments"

@using Iwentys.Sdk
@inherits Iwentys.Endpoints.WebClient.Shared.DependencyInjectionPage

<div class="d-flex flex-row align-self-center align-baseline">
    <h3>Tournaments</h3>
    <MatButton Link="/tournaments/create/code-marathon">
        <span class="oi oi-plus" title="add" aria-hidden="true"></span>
    </MatButton>
</div>

<div class="container-fluid d-flex">
    <div class="d-flex flex-column">
        @if (_tournaments is not null)
        {
            <div class="container-fluid d-flex flex-column">
                @foreach (TournamentInfoResponse tournament in _tournaments)
                {
                    <div class="card-list-element">
                        <TournamentInfoComponent Tournament=@tournament></TournamentInfoComponent>
                    </div>
                }
            </div>
        }
    </div>
</div>
