@inherits Iwentys.Endpoints.WebClient.Shared.DependencyInjectionPage

@using Iwentys.Sdk

<div>
    <MudCard Class="dark-elevation-02">
        <MudCardContent>
            <div class="card-list-element-content">
                <MatHeadline6>
                    @Tournament.Name
                </MatHeadline6>
                <MatBody2>
                    @Tournament.Description
                </MatBody2>
            </div>
        </MudCardContent>
        <MudCardActions>
            <MudButton Link=@LinkToTournamentProfile(Tournament)>Open</MudButton>
        </MudCardActions>
    </MudCard>
</div>

@code {
    [Parameter]
    public TournamentInfoResponse Tournament { get; set; }
}
