.ant-layout{
	min-height: 100vh;
	padding: 0;
}
.ant-layout-content{
	padding: 20px;
	margin: 0 auto;
}

.ant-col{
	padding: 0 10px;
}
section{
	background-color: var(--primary);
	padding: 20px;
	border-radius: 10px;
}
