@page "/assignment/create"

@using Iwentys.Models.Transferable
@using Iwentys.Endpoint.Sdk.ControllerClients
@using Blazored.LocalStorage
@using Iwentys.Endpoint.Client.Tools
@using Iwentys.Features.Assignments.ViewModels

@inject HttpClient Http
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManagerClient

<div class="container-fluid d-flex flex-row">
    <div class="col-md-3 d-flex flex-column">
        <MatButton>Все задачи</MatButton>
        <MatButton>Персональные задачи</MatButton>
        <MatButton>Календарь</MatButton>
    </div>

    <div class="col-md-6 d-flex flex-column">
        <h5>Create assignment</h5>

        <p>
            <MatTextField @bind-Value="@_title" Label="Title"></MatTextField>
        </p>

        <p>
            <MatTextField @bind-Value="@_description" Label="Description"></MatTextField>
        </p>

        <MatButton OnClick="@CreateButton">Create</MatButton>
    </div>
</div>



@code {
    private AssignmentControllerClient _assignmentControllerClient;
    private string _title;
    private string _description;

    protected override async Task OnInitializedAsync()
    {
        _assignmentControllerClient = new AssignmentControllerClient(await Http.TrySetHeader(LocalStorage));
    }

    private async Task CreateButton()
    {
        await _assignmentControllerClient.Create(new AssignmentCreateRequest()
        {
            Title = _title,
            Description = _description
        });
        NavigationManagerClient.NavigateTo("/assignment");
    }
}
