@page "/assignment"

@using Blazored.LocalStorage
@using Iwentys.Endpoint.Client.Tools
@using Iwentys.Endpoint.Sdk.ControllerClients
@using Iwentys.Models.Transferable

@inject HttpClient Http
@inject ILocalStorageService LocalStorage

<div class="container-fluid d-flex flex-row">
    <div class="col-md-3 d-flex flex-column">
        <MatButton>Все задачи</MatButton>
        <MatButton>Персональные задачи</MatButton>
        <MatButton>Календарь</MatButton>
        <MatButton Link="/assignment/create">Добавить задачу</MatButton>
    </div>

    <div class="col-md-6 d-flex flex-column">
        <h5>Assignment list</h5>
        @if (_assignment is not null)
        {
            <MatList>
                @foreach (AssignmentInfoResponse assignment in _assignment)
                {
                    <MatListItem>
                        @(assignment.IsCompeted == false ? "[ ] " : "[x] ") @assignment.Title
                    </MatListItem>
                }
            </MatList>
        }
    </div>
</div>



@code {
    private List<AssignmentInfoResponse> _assignment;

    protected override async Task OnInitializedAsync()
    {
        var assignmentControllerClient = new AssignmentControllerClient(await Http.TrySetHeader(LocalStorage));
        _assignment = await assignmentControllerClient.Get();
    }
}
