@page "/raids/profile/{RaidId:int}"
@using Iwentys.Endpoints.Sdk.Extensions
@inherits Iwentys.Endpoints.WebClient.Shared.DependencyInjectionPage

<h3>RaidProfilePage</h3>
@if (_raid is not null)
{
    <div class="container-fluid d-flex flex-row">
        <div class="col-md-6 d-flex flex-column">
            <MudText Typo="Typo.h6">Visitors (@_raid.Visitors.Count)</MudText>
            <MudList>
                @foreach (var visitor in _raid.Visitors)
                {
                    <MudListItem>
                        @visitor.GetFullName()
                    </MudListItem>
                }
            </MudList>

            @if (CanRegisterOnRaid())
            {
                <MudButton OnClick=@(async () => await RegisterOnRaid())>Check in</MudButton>
            }

            @if (CanUnRegisterOnRaid())
            {
                <MudButton OnClick=@(async () => await UnRegisterOnRaid())>Remove registration</MudButton>
            }
        </div>
        <div class="col-md-6 d-flex flex-column">
            <MudText Typo="Typo.h6">Team requests</MudText>
            <MudList>
                @foreach (var partySearchRequest in _raid.PartySearchRequests)
                {
                    <MudListItem>
                        @partySearchRequest.Author.GetFullName()
                    </MudListItem>
                }
            </MudList>
        </div>
    </div>
}

@code {
    [Parameter]
    public int RaidId { get; set; }
}
