@page "/raids"

@using Iwentys.Sdk
@inherits Iwentys.Endpoints.WebClient.Shared.DependencyInjectionPage

<div class="d-flex flex-row align-self-center align-baseline">
    <h3>RaidJournalPage</h3>
    <MudButton Link="/raids/create">
        <span class="oi oi-plus" title="add" aria-hidden="true"></span>
    </MudButton>
</div>

<div class="container-fluid d-flex">
    <div class="d-flex flex-column">
        @if (_raids is not null)
        {
            <div class="container-fluid d-flex flex-column">
                @foreach (RaidProfileDto raid in _raids)
                {
                    <div class="card-list-element">
                        <MudCard Class="dark-elevation-02">
                            <MudCardContent>
                                <div class="card-list-element-content">
                                    <MudText Typo="Typo.h6">
                                        @raid.Title
                                    </MudText>
                                    <MudText Typo="Typo.body2">
                                        @raid.Description
                                    </MudText>
                                </div>
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton Link=@LinkToRaidProfile(raid)>Open</MudButton>
                            </MudCardActions>
                        </MudCard>
                    </div>
                }
            </div>
        }
    </div>
</div>