@using Iwentys.Features.Achievements.Models

@namespace Iwentys.Endpoint.Client.CustomComponents

<div Class="text-center">
    <MatHeadline5>Ачивки</MatHeadline5>
    <div class="container-fluid d-flex flex-row">
        @foreach (AchievementDto achievement in Achievements)
        {
            <div class="d-flex flex-column achievement-item">
                <img src="@achievement.ImageUrl" />
                <MatHeadline6>@achievement.Name</MatHeadline6>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public List<AchievementDto> Achievements { get; set; }
}