.GuildCard {
    display: flex;
    width: 400px;
    background-color: var(--primary);
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    color: var(--secondary);
}

.GuildCard:hover {
    color: var(--secondary);
}

.GuildCard-Description {
    margin: 0 20px;
}

.GuildCard-Stats {
    margin-left: auto;
}

.GuildCard-Wrapper + .GuildCard-Wrapper {
    margin-top: 20px;
}
