.card-list-element {
    margin: 10px 0;
}

.card-list-element-content {
    padding: 1rem;
}

.input-form-component {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 10px;
}

.clickable {
    cursor: pointer;
}