@page "/subject/{SubjectId:int}/assignments"

@using Iwentys.Endpoints.WebClient.Modules.SubjectAssignments.StudentPages.Components

<div>
    <h5>Assignments</h5>
    @if (_subjectAssignments is not null)
    {
        <div>
            @foreach (SubjectAssignmentDto subjectAssignment in _subjectAssignments)
            {
                <StudentSubjectAssignmentComponent SubjectAssignment="@subjectAssignment"></StudentSubjectAssignmentComponent>
            }
        </div>
    }

    <div class="d-flex flex-row align-self-center align-baseline">
        <h5>Submits</h5>
        <MudButton Link=@LinkToCreateSubmit()>
            <span class="oi oi-plus" title="add" aria-hidden="true"></span>
        </MudButton>
    </div>

    @if (_subjectAssignmentSubmits is not null)
    {
        foreach (SubjectAssignmentSubmitDto submit in _subjectAssignmentSubmits)
        {
            <SubjectAssignmentSubmitComponent Submit="@submit"></SubjectAssignmentSubmitComponent>
        }
    }

</div>

@code {
    [Parameter]
    public int SubjectId { get; set; }
}
