@page "/subject/{SubjectId:int}/assignments"

@using Iwentys.Endpoints.WebClient.Modules.SubjectAssignments.StudentPages.Components

<MudContainer>
    <MudGrid>
        <MudItem xs="12" sm="12" md="12">
            <MudText Align="Align.Center" Typo="Typo.h3">Assignments</MudText>
            @if (_subjectAssignments is not null)
            {
                <MudList>
                    @foreach (SubjectAssignmentDto subjectAssignment in _subjectAssignments)
                    {
                        <StudentSubjectAssignmentComponent SubjectAssignment="@subjectAssignment"></StudentSubjectAssignmentComponent>
                    }
                </MudList>
            }
        </MudItem>

        <MudItem xs="12" sm="12" md="12">
            <div class="d-flex flex-row align-self-center align-baseline">
                <h5>Submits</h5>
                <MudButton Link=@LinkToCreateSubmit()>
                    <span class="oi oi-plus" title="add" aria-hidden="true"></span>
                </MudButton>
            </div>
        </MudItem>

        @if (_subjectAssignmentSubmits is not null)
        {
            <MudItem xs="12" sm="12" md="12">
                @foreach (SubjectAssignmentSubmitDto submit in _subjectAssignmentSubmits)
                {
                    <SubjectAssignmentSubmitComponent Submit="@submit"></SubjectAssignmentSubmitComponent>
                }
            </MudItem>
        }
    </MudGrid>
</MudContainer>

@code {
    [Parameter]
    public int SubjectId { get; set; }
}
