@page "/subject/{SubjectId:int}/assignments/create-submit"

@inherits Iwentys.Endpoints.WebClient.Shared.DependencyInjectionPage

<MudContainer>
    <MudGrid>
        <MudItem xs="12" sm="12" md="12">
            <MudText Align="Align.Center" Typo="Typo.h4">Add new submit</MudText>
            @if (_subjectAssignments is not null)
            {
                <p>
                    <MudSelect Label="Select assignment" @bind-Value=@_selectedSubjectAssignment Class="input-element" FullWidth="true">
                        @foreach (var item in _subjectAssignments)
                        {
                            <MudSelectItem Value="@item">@item.Title</MudSelectItem>
                        }
                </MudSelect>
                </p>
                <p>
                    <MudTextField @bind-Value="@_description" Label="Comments" Class="input-element" FullWidth="true"></MudTextField>
                </p>
                <MudButton OnClick="@SendSubmit">Send response</MudButton>
            }
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    [Parameter]
    public int SubjectId { get; set; }
}
