@using Iwentys.Models.Transferable.Guilds
@namespace Iwentys.Endpoint.Client.CustomComponents.Guild


<div class="container-fluid d-flex flex-column align-items-center">
    <img src=@SelectedGuildProfile.LogoUrl class="guild-preview-logo" />
    <MatHeadline4>@SelectedGuildProfile.Title</MatHeadline4>
    <MatBody1>Лидер: @SelectedGuildProfile.Leader.GithubUsername</MatBody1>
    <MatBody1>@SelectedGuildProfile.Bio</MatBody1>
    <MatButton Link="@EditProfileLink()">Редактировать</MatButton>
    <MatButton>Трибьюты</MatButton>
</div>

@code {
    [Parameter]
    public GuildProfileDto SelectedGuildProfile { get; set; }

    private string EditProfileLink()
    {
        return $"guild/{SelectedGuildProfile.Id}/edit";
    }
}