@page "/guild/{GuildId:int}/edit"
@using Iwentys.Models.Transferable.Guilds
@using Iwentys.Endpoint.Client.CustomComponents
@using Iwentys.Endpoint.Client.CustomComponents.Guild
@using Blazored.LocalStorage
@using Iwentys.Endpoint.Client.Tools

@inject HttpClient Http
@inject ILocalStorageService LocalStorage

<h3>GuildEditPage</h3>

<GuildMemberListComponent GuildProfile="@Guild"></GuildMemberListComponent>

@code
{
    [Parameter]
    public int GuildId { get; set; }

    public GuildProfileDto Guild { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Http.TrySetHeader(LocalStorage);
        Guild = Http.GetJsonAsync<GuildProfileDto>($"api/guild/{GuildId}").Result;
    }

}