@page "/guild/profile/{GuildId:int}/edit"

@using Iwentys.Features.Guilds.Models

@inherits DependencyInjectionPage

<h3>GuildEditPage</h3>

@if (_guild is not null)
{
    <GuildMemberListComponent GuildProfile="@_guild"></GuildMemberListComponent>
}

@code
{
    [Parameter]
    public int GuildId { get; set; }

    private GuildProfileDto _guild;
}