@page "/guild/overview"
@using Iwentys.Models.Transferable.Guilds
@using Iwentys.Endpoint.Sdk.ControllerClients.Guilds
@using Iwentys.Endpoint.Client.Tools
@using Blazored.LocalStorage

@inject HttpClient Http
@inject ILocalStorageService LocalStorage

<div class="text-center">
    <h3>Рейтинг Гильдий</h3>

    @if (_guildProfiles is not null)
    {
        <div class="container-fluid d-flex flex-column">
            @foreach (GuildProfilePreviewDto guild in _guildProfiles)
            {
                var linToProfile = $"guild/{guild.Id}";

                <MatNavItem href=@linToProfile class="d-flex flex-row guild-rating-row justify-content-md-between">

                    <div class="col-md-2">
                        <img src=@guild.LogoUrl class="guild-preview-logo" />
                    </div>

                    <div class="col-md-4">
                        <h4>@guild.Title</h4>

                        <p href="guild">Some bio @guild.Bio</p>
                    </div>

                    <div class="col-md-2">
                        <p>@guild.Rating</p>
                    </div>

                </MatNavItem>
            }
        </div>
    }
</div>


@code {
    private IReadOnlyList<GuildProfilePreviewDto> _guildProfiles;

    protected override async Task OnInitializedAsync()
    {
        var guildControllerClient = new GuildControllerClient(await Http.TrySetHeader(LocalStorage));
        _guildProfiles = await guildControllerClient.GetOverview();
    }
}