@page "/guild/profile/{GuildId:int}"

@using Iwentys.Endpoint.Client.CustomComponents
@using Iwentys.Endpoint.Client.Pages.Guilds.Tributes
@using Iwentys.Endpoint.Client.Pages.Tournaments

@inherits DependencyInjectionPage

@if (_guild is not null)
{
    <div class="container-fluid d-flex flex-row">
        <div class="col-md-3 d-flex flex-column dark-elevation-01">
            <GuildProfileInfoComponent SelectedGuildProfile=@_guild></GuildProfileInfoComponent>
            @if (_activeTribute?.Project is not null)
            {
                <TributeCardComponent Tribute=@_activeTribute></TributeCardComponent>
            }
        </div>

        <div class="col-md-6 d-flex flex-column">
            @if (_activeTournament is not null)
            {
                <TournamentInfoComponent Tournament=@_activeTournament></TournamentInfoComponent>
            }

            <div class="profile-block dark-elevation-01">
                <AchievementComponent Achievements=@_achievements></AchievementComponent>
            </div>

            <div class="profile-block">
                @if (_newsfeeds is not null)
                {
                    <NewsfeedComponent Newsfeeds=@_newsfeeds></NewsfeedComponent>
                    <MatButton Link=@LinkToCreateNewsfeedPage()>Create</MatButton>
                }
            </div>
        </div>

        <div class="col-md-3 d-flex flex-column">
            <div class="profile-block dark-elevation-01">
                <GuildProfileMemberRateComponent GuildLeaderboard=@_memberLeaderBoard></GuildProfileMemberRateComponent>

            </div>
            <div class="profile-block dark-elevation-01">
                <GuildProfilePinnedRepositoriesComponent GuildProfile=@_guild></GuildProfilePinnedRepositoriesComponent>

            </div>
        </div>
    </div>
}


@code {
    [Parameter]
    public int GuildId { get; set; }
}