@using Iwentys.Features.GithubIntegration.Models
@using Iwentys.Features.Guilds.Models

@namespace Iwentys.Endpoint.Client.Pages.Guilds

@inherits DependencyInjectionPage

<div class="text-center">
    <MatHeadline5>Репозитории</MatHeadline5>

    <div class="container-fluid d-flex flex-column">
        @foreach (GithubRepositoryInfoDto repository in GuildProfile.PinnedRepositories)
        {

            <MatNavItem class="d-flex flex-row justify-content-md-between">
                <NavLink href=@repository.Url>
                    <div class="col-md-10">
                        <MatBody2>@repository.GithubLikeTitle()</MatBody2>

                        <MatBody2>@repository.Description</MatBody2>
                    </div>
                </NavLink>

                @*TODO: add icon-button*@
                <MatButton OnClick=@(async () => await RemovePin(repository.Id)) class="col-md-2">X</MatButton>
            </MatNavItem>
        }
    </div>

    <MatButton Link=@LinkToPinCreating>Запинить</MatButton>
</div>

@code {

    [Parameter]
    public ExtendedGuildProfileWithMemberDataDto GuildProfile { get; set; }

    private string LinkToPinCreating => $"guild/{GuildProfile.Id}/create-pinned";
}