@page "/guild/{GuildId:int}/create-pinned"

@inherits DependencyInjectionPage

<h3>PinnedrepositoryCreatePage</h3>

<div class="container-fluid d-flex flex-row">
    <div class="col-md-6 d-flex flex-column">
        <h5>Create assignment</h5>

        <p>
            <MatTextField @bind-Value="@_owner" Label="Title"></MatTextField>
        </p>

        <p>
            <MatTextField @bind-Value="@_repositoryName" Label="Description"></MatTextField>
        </p>

        <MatButton OnClick="@AddPin">Create</MatButton>
    </div>
</div>


@code {
    [Parameter]
    public int GuildId { get; set; }
}
