@page "/guild/rate"

@using Iwentys.Models.Transferable.Guilds
@using Iwentys.Endpoint.Sdk.ControllerClients.Guilds
@using Iwentys.Endpoint.Client.Tools
@using Blazored.LocalStorage

@inject HttpClient Http
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManagerClient

<div class="text-center">
    <h3>Рейтинг Гильдий</h3>

    @if (_guildProfiles is not null)
    {
        <MatList class="container-fluid d-flex flex-column">
            @foreach (GuildProfilePreviewDto guild in _guildProfiles)
            {
                <MatCard @onclick=@(() => NavigateToProfile(guild)) class="guild-rating-row d-flex flex-row">
                    <div class="col-md-2">
                        <img src=@guild.LogoUrl class="guild-logo" />
                    </div>

                    <div class="col-md-8">
                        <h4>@guild.Title</h4>

                        <p href="guild">Some bio @guild.Bio</p>
                    </div>

                    <div class="col-md-2">
                        <p>@guild.Rating</p>
                    </div>
                </MatCard>
            }
        </MatList>
    }
</div>


@code {
    private IReadOnlyList<GuildProfilePreviewDto> _guildProfiles;

    private string LinkToProfile(GuildProfilePreviewDto guild) => $"guild/profile/{guild.Id}";

    protected override async Task OnInitializedAsync()
    {
        var guildControllerClient = new GuildControllerClient(await Http.TrySetHeader(LocalStorage));
        _guildProfiles = await guildControllerClient.GetOverview();
    }

    private void NavigateToProfile(GuildProfilePreviewDto guild)
    {
        NavigationManagerClient.NavigateTo($"guild/profile/{guild.Id}");
    }
}