@page "/guild/profile/{GuildId:int}"

@using Iwentys.Endpoint.Client.CustomComponents
@using Blazored.LocalStorage

@inject HttpClient Http
@inject ILocalStorageService LocalStorage

@if (_guild is not null)
{
    <div class="container-fluid d-flex flex-row">
        <div class="col-md-3 d-flex flex-column">
            <GuildProfileInfoComponent SelectedGuildProfile=@_guild></GuildProfileInfoComponent>
        </div>

        <div class="col-md-6 d-flex flex-column">
            <AchievementComponent Achievements=@_guild.Achievements></AchievementComponent>
        </div>

        <div class="col-md-3 d-flex flex-column">
            <GuildProfileMemberRateComponent GuildProfile=@_guild></GuildProfileMemberRateComponent>
            <GuildProfilePinnedRepositoriesComponent GuildProfile=@_guild></GuildProfilePinnedRepositoriesComponent>
        </div>
    </div>
}


@code {
    [Parameter]
    public int GuildId { get; set; }
}