@using Iwentys.Features.Guilds.Models.Guilds
@using Iwentys.Features.Students.Models
@using Blazored.LocalStorage

@inject HttpClient Http
@inject ILocalStorageService LocalStorage

@namespace Iwentys.Endpoint.Client.Pages.Guilds

<div class="text-center card">
    <MatHeadline5>Members</MatHeadline5>
    <MatList>
        @if (_leaderBoard is not null)
        {
            @foreach (StudentInfoDto member in _leaderBoard.Members)
            {
                <MatListItem>
                    <p>
                        @member.GithubUsername (@member.GetFullName())
                    </p>
                    <MatButton OnClick="() => KicMember(member.Id)">
                        Kick
                    </MatButton>
                </MatListItem>
            }
        }

        
    </MatList>
</div>

@code {
    [Parameter]
    public ExtendedGuildProfileWithMemberDataDto GuildProfile { get; set; }

    private async Task KicMember(int memberId)
    {
        await _guildMemberControllerClient.KickGuildMember(GuildProfile.Id, memberId);
    }
}
