@using Iwentys.Features.Students.Models
@using Blazored.LocalStorage
@using Iwentys.Features.Guilds.Enums
@using Iwentys.Features.Guilds.Models

@inject HttpClient Http
@inject ILocalStorageService LocalStorage

@namespace Iwentys.Endpoint.Client.Pages.Guilds

<div class="text-center card">
    <MatHeadline5>Members</MatHeadline5>
    <MatList>
        @if (_leaderBoard is not null)
        {
            @foreach (var member in _leaderBoard.MembersImpact)
            {
                <MatListItem>
                    <p>
                        @member.StudentInfoDto.GithubUsername (@member.StudentInfoDto.GetFullName()) [@member.MemberType]
                    </p>
                    @if (member.MemberType == GuildMemberType.Member)
                    {
                        <MatButton OnClick="() => PromoteToMentor(member.StudentInfoDto.Id)">
                            Promote
                        </MatButton>
                    }
                    <MatButton OnClick="() => KickMember(member.StudentInfoDto.Id)">
                        Kick
                    </MatButton>
                </MatListItem>
            }
        }

        
    </MatList>
</div>

@code {
    [Parameter]
    public ExtendedGuildProfileWithMemberDataDto GuildProfile { get; set; }
}
