@using Iwentys.Models.Transferable.Guilds

@namespace Iwentys.Endpoint.Client.Pages.Guilds

<div class="text-center card">
    <MatHeadline5>Рейтинг гильдии - @GuildProfile.MemberLeaderBoard.TotalRate</MatHeadline5>
    <MatList>
        @foreach (var member in GuildProfile.MemberLeaderBoard.MembersImpact)
        {
            <MatListItem>
                @member.Username (@member.TotalRate)
            </MatListItem>
        }
    </MatList>
</div>

@code {
    [Parameter]
    public GuildProfileDto GuildProfile { get; set; }
}