@using Iwentys.Features.Guilds.Models.Guilds
@using Iwentys.Features.Students.Models

@namespace Iwentys.Endpoint.Client.Pages.Guilds

<div class="text-center card">
    <MatHeadline5>Members</MatHeadline5>
    <MatList>
        @foreach (StudentInfoDto member in GuildProfile.MemberLeaderBoardDto.Members)
        {
            <MatListItem>
                <p>
                    @member.GithubUsername (@member.GetFullName())
                </p>
                <MatButton OnClick="() => KicMember(member.Id)">
                    Kick
                </MatButton>
            </MatListItem>
        }
    </MatList>
</div>

@code {
    [Parameter]
    public ExtendedGuildProfileWithMemberDataDto GuildProfile { get; set; }

    private async Task KicMember(int memberId)
    {
        //TODO: fix
        //await GuildMemberService.KickGuildMemberAsync(HttpContextAccessor.GetAuthUser(), GuildProfile.Id, memberId);
    }
}
