@using Iwentys.Features.Guilds.Models.Guilds
@namespace Iwentys.Endpoint.Client.Pages.Guilds

<div Elevation="10" Rounded="true" class="text-center">
    <MatHeadline5>Рейтинг гильдии - @GuildLeaderboard.TotalRate</MatHeadline5>
    <MatList>
        @foreach (var member in GuildLeaderboard.MembersImpact)
        {
            <MatListItem Class="rate-list-item">
                @member.Username (@member.TotalRate)
            </MatListItem>
        }
    </MatList>
</div>

@code {

    [Parameter]
    public GuildMemberLeaderBoardDto GuildLeaderboard { get; set; }

}