@import "../../../wwwroot/css/GlobalStyle.scss";

.input-element {
    background-color: $color-background;
    color: $color-on-background;
}

.mdc-text-field {
    background-color: $color-background;
    color: $color-on-background;
}

.mdc-text-field--filled {
    background-color: $color-background;
    color: $color-on-background;
}