@using Iwentys.Endpoints.WebClient.IdentityAuthorization
@inherits LayoutComponentBase

<MudThemeProvider Theme="darkTheme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="page main-background">
    <div class="sidebar sidebar-surface dark-elevation-04">
        <NavMenu/>
    </div>

    <div class="main main-background">
        <div class="top-row px-4 auth">
            <LoginDisplay/>
        </div>

        <div class="content px-4 main-background">
            @Body
        </div>
    </div>
</div>

@code
{
    //TODO:
    //FYI: this colors must be synced with global css
    MudTheme darkTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Black = "#27272f",
            Background = "#202036",
            BackgroundGrey = "#27272f",
            Surface = "#27273E",
            DrawerBackground = "#27272f",
            DrawerText = "rgba(255,255,255, 0.50)",
            DrawerIcon = "rgba(255,255,255, 0.50)",
            AppbarBackground = "#27272f",
            AppbarText = "rgba(255,255,255, 0.70)",
            TextPrimary = "E0E0FF",
            TextSecondary = "E0E0FF",
            ActionDefault = "#adadb1",
            ActionDisabled = "rgba(255,255,255, 0.26)",
            ActionDisabledBackground = "rgba(255,255,255, 0.12)",
            Divider = "rgba(255,255,255, 0.12)",
            DividerLight = "rgba(255,255,255, 0.06)",
            TableLines = "rgba(255,255,255, 0.12)",
            LinesDefault = "rgba(255,255,255, 0.12)",
            LinesInputs = "rgba(255,255,255, 0.3)",
            TextDisabled = "rgba(255,255,255, 0.2)"
        }
    };

    @*MatTheme globalTheme = new MatTheme()
    {
        Primary = "#80D8FE",
        Secondary = "#00FFAA",
        Background = "#202036",
        Surface = "#27273E",
        OnPrimary = "#E0E0FF",
        OnSecondary = "#E0E0FF",
        OnSurface = "#E0E0FF"
    };*@
}
