@using Iwentys.Models.Transferable

@namespace Iwentys.Endpoints.WebUi.CustomComponents

<div class="text-center">
    <MatHeadline5>Ачивки</MatHeadline5>
    @*TODO: add scroll*@
    <div class="container-fluid d-flex flex-row">
        @foreach (AchievementInfoDto achievement in Achievements)
        {
            <div class="d-flex flex-column guild-rating-row">
                @*TODO: rename to ImageUrl*@
                <img src="@achievement.Url" class="guild-preview-logo" />
                @*TODO: add description on hover *@
                <MatHeadline6>@achievement.Name</MatHeadline6>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public List<AchievementInfoDto> Achievements { get; set; }
}