name: Regular CI

on:
  pull_request:
    branches: [ master, dev ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.100-preview.3.21202.5
    - name: Clean dotnet
      run: dotnet clean --configuration Release
      working-directory: Source
    - name: Install dependencies
      run: dotnet restore
      working-directory: Source
    - name: Build
      run: dotnet build /nodeReuse:false --configuration Release
      working-directory: Source
    - name: Test
      run: dotnet test --no-restore --verbosity normal
      working-directory: Source